<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Listings</title>
    <style>
        .job-title {
            font-size: 20px;
            color: #333;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .job-category {
            font-size: 16px;
            color: #666;
        }

        .job-title:hover {
            color: #007bff;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            {% if loop.index == 1 %}
            <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1 style="text-align: center; color: black; margin-top: -50px; font-size: 24px;">Job Listing</h1>

        <!-- Category Filter -->
        <form id="filter-form" style="margin-bottom: 10px; margin-left: 0 !important;">
            <label for="category-filter">Filter by Category:</label>
            <select id="category-filter" name="category">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit">Filter</button>
        </form>

        <!-- Job Listings -->
        <ul class="job-listing" style="padding: 0; margin-left: 0 !important;">
            {% for job in jobs %}
            <li style="text-align: center; margin-bottom: 20px;">
                <a href="{{ url_for('main.job_details', job_id=job.id) }}" class="job-title">{{ job.title }}</a> - <span class="job-category">{{ job.category }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        // Fade out flashed messages after 4 seconds
        setTimeout(function() {
            var flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                message.style.opacity = '0';
            });
        }, 2000);
    </script>
</body>

</html>
