{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="title">Register Job</h1>
        <form method="POST" action="{{ url_for('main.register_board') }}" style="background-color: #f2f2f2; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="field">
                <label class="label">Title:</label>
                <div class="control">
                    <input class="input" type="text" name="title" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Description:</label>
                <div class="control">
                    <textarea class="textarea" name="description" required></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Price:</label>
                <div class="control">
                    <input class="input" type="text" name="price" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Category:</label>
                <div class="control">
                    <div class="select">
                        <select name="category">
                            <option value="Homecare">Homecare</option>
                            <option value="Professional Services">Professional Services</option>
                            <option value="Other">Other</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
